 @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');
/*@plugin "daisyui";
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* *{
    background-color: #fff;
    color: black
} */

@import "tailwindcss";
@plugin "daisyui";
 body{
  font-family: "Poppins", sans-serif;
 }

